@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<!-- Login Section -->
    <section class=" white mt-lg-5 mb-5 " style="margin-top: 85px; ">
      <div class=" h-100 d-flex mode justify-content-center align-items-center" >
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">

              <!-- Form with header -->
              <div class="card wow fadeIn" data-wow-delay="0.3s">
                <div class="card-body pt-5 pb-5">

                  <!-- Header -->
                  <div class="form-header aqua-gradient">
                    <h3 class="font-weight-500 my-2 py-1"><i class="fas fa-user"></i> Log in:</h3>
                  </div>

                  <!-- Body -->
                  
                  <div class="inline-ul text-center d-flex justify-content-center">
                    <a class="p-2 m-2 fa-lg gplus-ic aqua-gradient rounded"><i class="fab fa-google-plus-g white-text"></i></a>
                    <a class="p-2 m-2 fa-lg fb-ic aqua-gradient rounded"><i class="fab fa-facebook-f white-text"> </i></a>
                    <a class="p-2 m-2 fa-lg ins-ic aqua-gradient rounded"><i class="fab fa-instagram white-text"> </i></a>
                  </div>
                  <hr class="mt-4">
                  <form id="account" method="post">
                      <div class="md-form">
                           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <i class="fas fa-envelope prefix text-default"></i>
                          <input asp-for="Input.Email" type="text" id="orangeForm-email" class="form-control">
                          <label for="orangeForm-email">Your email</label>
                          <span asp-validation-for="Input.Email" class="text-danger" style="font-size: 15px;"></span>
                      </div>

                  <div class="md-form">
                    <i class="fas fa-lock prefix text-default"></i>
                    <input type="password" asp-for="Input.Password" id="orangeForm-pass" class="form-control">
                    <label for="orangeForm-pass">Your password</label>
                    <span asp-validation-for="Input.Password" class="text-danger" style="font-size: 15px;"></span>
                  </div>
                  <div class="md-form ">
                    
                      <input class="form-check-input  " asp-for="Input.RememberMe" type="checkbox" id="checkbox1" >
                      <label class="form-check-label" for="checkbox1">Remember Me</label>
                     
                  </div>
                  
                  <div class="md-from mb-2">
                    <a aasp-page="./ForgotPassword" class="text-default">Forget Passwort? </a>
                     <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style=" float: right;">Create New </a>
                  </div>
                  

                  <div class="text-center">
                    <button class="btn aqua-gradient btn-lg">Login</button>
                  
                  </div>
                   </form>
                </div>
              </div>
              <!-- Form with header -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Login Section -->






            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                       
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
 
