@model OrganizationModel


@{
    ViewData["SideNav"] = "Organization";
    ViewData["OrgLogo"] = @Model.Logo;
    ViewData["Title"] = @Model.Name;
}
 <section class="section card mb-5">

    <div class="card-body">
      <div class="container-fluid">
        <!-- Section heading -->
        <div class="row justify-content-center">
          <div class="  col-md-12 pb-4">     
                      
                    
                    <!-- Avatar -->
                             
                    <div class="d-flex justify-content-center">
                      <div class="card" style="width: 100px; border-radius: 5px;">
                        @if (Model.Logo != null)
                        {
                          <img id="profileImg" src="~/upload/@Model.Logo" style="width: 100px; border-radius: 5px; padding: 3px; " alt=" image">
                        }
                        else
                        {
                           <img id="profileImg" src="~/img/org.png" style="width: 100px; border-radius: 5px; padding: 3px; " alt=" image">
                        }
                       

                      </div>
                    </div>
                                 
                    
                    <!-- Name -->
                    <div style="text-align: center;">
                      <div id="uploadBtn" class="mb-2"></div>
                      
                      <h4 class="mb-3 font-weight-bold"><strong>Welcome! @Model.Name</strong></h4>
                      
          
                    </div>
                      <div class="col-md-2">
                        <button class="btn aqua-gradient btn-sm btn-rounded waves-effect waves-light" id="EditBtn"><i class="fas fa-edit"></i> Edit</button>
                        <div id="exitBtn"></div>
                     </div>
                  </div>
        </div>
        <!-- Grid row -->
        <div class="col-12">
        
                    <div class="classic-tabs">
        
                      <!-- Nav tabs -->
                      <div class="tabs-wrapper">
                        <ul class="nav aqua-gradient" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link waves-light active waves-effect waves-light" data-toggle="tab" href="#panel36"
                              role="tab"><i class="fas fa-users "></i> Members</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel37" role="tab"><i class="fas fa-money-bill-alt"></i> Deposit</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel38" role="tab"><i class="fas fa-money-check-alt"></i> Expense</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel39" role="tab"><i class="fas fa-file-chart-pie"></i> Reports</a>
                          </li>
                           <li class="nav-item">
                             <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel40" role="tab"><i class="fas fa-cog"></i> Setting</a>
                             </li>
                        </ul>
                      </div>
        
                      <!-- Tab panels -->
                      <div class="tab-content ">
                        <!-- Panel 1 -->
                        <div class="tab-pane fade in show active" id="panel36" role="tabpanel">
                          <div class="col-md-12">
                             <a class="btn btn-md aqua-gradient" href="#" style="float: right; margin-top: -10px;"><i class="fas fa-user "></i> Invite new member</a>
                            <h4>Members</h4>

                            <hr/>

                            <table id="dtMaterialDesignExample" class="table table-responsive-md table-responsive-sm table-striped" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <th>Name
                                </th>
                                <th>Email
                                </th>
                                <th>Permisson
                                </th>
                                <th>Status
                                </th>
                                <th>Action
                                </th>
                              </tr>
                              </thead>
                              <tbody>
                              @{
                                foreach (var member in Model.MemberInfo)
                                {
                                  <tr>

                                    <td>
                                      @if (member.Image != null)
                                      {<img src="~/upload/@member.Image" class="rounded-circle" alt="Black and White Portrait of a Man" loading="lazy" width="28" height="28">}
                                      else
                                      {<img src="~/img/profile-avatar.png" class="rounded-circle" alt="Black and White Portrait of a Man" loading="lazy" width="28" height="28">}
                                      @member.Name </td>
                                    <td>@member.Email</td>
                                    <td>@member.Role</td>
                                    <td>@member.Status</td>

                                    <td>
                                      <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cog"></i> <span class="clearfix d-none d-sm-inline-block">Action</span>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="#@member.MemberId">Delete</a>
                                        <a class="dropdown-item" href="#">Permisson</a>
                                      </div>
                                    </td>

                                  </tr>
                                }
                              }

                              </tbody>
                              <tfoot>
                              <tr>
                                <th>Name
                                </th>
                                <th>Email
                                </th>
                                <th>Permisson
                                </th>
                                <th>Status
                                </th>
                                <th>Action
                                </th>
                              </tr>
                              </tfoot>
                            </table>


                          </div>
                          
                        </div>
                        <!-- Panel 1 -->
        
                        <!-- Panel 2 -->
                        <div class="tab-pane fade" id="panel37" role="tabpanel">
                          <div class="col-md-12">
                             <a class="btn btn-md aqua-gradient" data-toggle="modal" data-target="#CreateDepositModal" href="#" style="float: right; margin-top: -10px;"><i class="fas fa-money-check-alt"></i> Add new deposit</a>
                            <h4>Deposits</h4>
                            <hr/>
                            <div class="row justify-content-center">

                              <div class="col-md-2 ">
                                <img src="~/img/no_data.svg" class="img-fluid"/>

                              </div>
                            </div>

                            <div class="pb-5" style="text-align: center;">
                              <h5 class="my-4 dark-grey-text ">No data found</h5><a class="btn pb-3 aqua-gradient" href="#" id="AddDeposit"><i class="fas fa-plus-circle "></i> Add new deposit</a>
                            </div>
                          </div>
                        </div>
                        <!-- Panel 2 -->
        
                        <!-- Panel 3 -->
                        <div class="tab-pane fade" id="panel38" role="tabpanel">
                          <div class="col-md-12">
                           <a class="btn btn-md aqua-gradient" data-toggle="modal" data-target="#CreateExpenseModal" href="#" style="float: right; margin-top: -10px;"><i class="fas fa-money-check-alt"></i> Add new expense</a>
                                                       <h4>Expenses</h4>                                                            <hr/>
                            <div class="row justify-content-center">
                                                                                         
                              <div class="col-md-2 ">
                                <img src="~/img/no_data.svg" class="img-fluid"/>
                                                                                          
                                </div>
                                                                                        
                              </div>
                                                                                       
                            <div class="pb-5" style="text-align: center;">
                              <h5 class="my-4 dark-grey-text ">No data found</h5>
                              <a class="btn pb-3 aqua-gradient" href="#" data-toggle="modal" data-target="#CreateExpenseModal"><i class="fas fa-plus-circle "></i> Add new expense</a>
                              </div>
                                                                                       
                            </div>
                        </div>
                        <!-- Panel 3 -->
        
                        <!-- Panel 4 -->
                        <div class="tab-pane fade" id="panel39" role="tabpanel">
                          <div class="col-md-12">
                            <hr/>
                            <div class="row justify-content-center">
                                                                                                                   
                              <div class="col-md-2 ">
                                <img src="~/img/no_data.svg" class="img-fluid"/>
                                                                                                                    
                              </div>
                                                                                                                  
                            </div>
                                                                                                                 
                            <div class="pb-5" style="text-align: center;">
                              <h5 class="my-4 dark-grey-text ">No data found</h5>
                              <a class="btn pb-3 aqua-gradient" asp-area="" asp-controller="Organization" asp-action="Create"><i class="fas fa-plus-circle "></i> Setup a new organization</a>
                            </div>
                                                                                                                 
                          </div>
                        </div>
                        
                        <!-- Panel 4 -->
                      </div>
        
                    </div>
                    <!-- Grid column -->
        
                  </div>
        
        

          </div>
    </div>
      
  </section>
  


<partial name="_CreateDepositeModal"/>
<partial name="_CreateExpenceModal"/>

@section Style
{
  <link rel="stylesheet" type="text/css" href="~/lib/ELM/css/addons/datatables.min.css">
}

@section Scripts
{
  <script type="text/javascript" src="~/lib/ELM/js/addons/datatables.min.js"></script>

  <script>
   $(function (){
   ///Init data table
    $('#dtMaterialDesignExample').DataTable();
    
    //add expense modal functionality
      let ItemName = $('#ItemName');
      let ItemQuantity = $('#ItemQuantity');
      let ItemAmount = $("#ItemAmount");
      let ItemCount = 0;
      let error = 0; 
      ItemName.val('');
      ItemAmount.val('');
     ItemQuantity.val('');
    
      $('body').on('click','#AddItem', function(e) {
             e.preventDefault();
              CheckValidItem();
               if (error === 0){
            AddItemField();
            console.log(error);
             }
       });
      
      $('body').on('click','#removeItem', function(e) {
                   e.preventDefault();
                   $(this).parent("div.ex1").parent("div.ex").parent("div.ex-item").remove();
                   ItemCount--
                  CalculateAll();
             });
      
      
      
      
      function AddItemField() {
           ItemCount++;
          var html="";
          html += "<div class=\"ex-item col-md-12\">";
          html += "<div class=\"ex row\">";
          html += "<div class=\"col-md-4\">";
          html += "  <div class=\"md-form md-outline\" style=\"margin-top: 0.5rem;\">";
          html += "    <input type=\"text\" value='"+ItemName.val()+"' id=\"itemN"+ItemCount+"\" class=\"form-control\">";
         
          html += "  <\/div>";
          html += "<\/div>";
          html += "<div class=\"col-md-2\" style=\"\">";
          html += "  <div class=\"md-form md-outline\" style=\"margin-top: 0.5rem;\">";
          html += "    <input type=\"number\" name =\"\" value='"+ItemQuantity.val()+"' id=\"itemQ"+ItemCount+"\" class=\"form-control\">";
         
          html += "  <\/div>";
          html += "<\/div>";
          html += "<div class=\"col-md-3\">";
          html += "  <div class=\"md-form md-outline\" style=\"margin-top: 0.5rem;\">";
          html += "    <input type=\"number\" id=\"itemPrice"+ItemCount+"\" value='"+ItemAmount.val()+"'  class=\"rate form-control\">";
          
          html += "  <\/div>";
          html += "<\/div>";
          html += "<div class=\"ex1 col-md-3\">";
          html += "  <button class=\"btn btn-danger btn-sm  waves-effect waves-light\" id=\"removeItem\" style=\"float: right\"><i class=\"fas fa-trash\"><\/i> Trash<\/button>";
          html += "<\/div>";
          html += "<\/div>";
          html += "<\/div>";
           $('.ExpanseItemBody').attr("data-id", ItemCount);
           $(".ExpanseItemBody").append(html);
           
           
           ItemName.val('');
           ItemAmount.val('');
           ItemQuantity.val('');
          
           CalculateAll();
           
      }
      
      let totalAmount = 0;
      function CalculateAll() {

        $('.ExpanseItemBody').each(function() {
            let id = $(this).attr("data-id");
            let amount = $('#itemPrice'+id+'').val();
            if($.trim(amount) === "" || $.isNumeric(amount) === false){
                            amount = 0;
               }
            
            totalAmount += parseFloat($.trim(amount));
            if (isNaN(totalAmount)) {
                totalAmount = 0;
              }
        });
        $('#TotalAmount').text(totalAmount);
        $('#amount').val(totalAmount);
        
        
      }
     
      
     function CheckValidItem(){
         
       
       if (ItemName.val() === ""){
         
       let  validItemName  = $("#valid-for-ItemName");
            validItemName.html(' <span id="valid-for-ItemName" class="text-danger" style="font-size: 15px;"> Item Name Is Required</span>');
          error = 1;
           
         }
       if (ItemQuantity.val() ===  ""){
           let validItemQuantity  = $("#valid-for-ItemQuantity");
            validItemQuantity.html(' <span id="valid-for-ItemName" class="text-danger" style="font-size: 15px;">Quantity Is Required</span>');
           error =1;
            
         }
       if (ItemAmount.val() === ""){
          let validItemAmount =  $("#valid-for-ItemAmount");
              validItemAmount.html(' <span id="valid-for-ItemName" class="text-danger" style="font-size: 15px;"> Item Name Is Required</span>');
          error = 1;
       }
       
       }
       
       $('body').on('keyup', '.ExpanseItem', function(e) {
               e.preventDefault();
               let  validItemName  = $("#valid-for-ItemName");
                    validItemName.html('');
               let validItemQuantity  = $("#valid-for-ItemQuantity");
                  validItemQuantity.html('');
                 
                let validItemAmount =  $("#valid-for-ItemAmount");
                   validItemAmount.html('');
                   error = 0;
             });
      $('body').on('keyup', '.rate', function() {
        CalculateAll();
      });
   
   });

</script>

}

