@model OrganizationSetupModel
  <!-- Section: Inputs -->
  
  <section class="section card mb-5">

     <div class="card-body">
       <div class="container">
         <!-- Section heading -->
         <h1 class="text-center my-3 h2"><i class="fas fa-building" ></i>  Welcome! @Model.Name</h1>
         <!-- Grid row -->
         <div class="row justify-content-center">
            
           <div class="col-md-7 ">
             <!-- Grid column -->
             <hr/>
             <div class="col-md-12 ">
               <span class="pb-2"> Setup Organization Logo</span>
               <br/>
               <div class="row justify-content-center">

                 <div class="card">
                   <div style="text-align: center">
                     @if (Model.Logo != null)
                     {
                       <img id="OrgLogo" src="~/upload/@Model.Logo" style="width: 80px; padding: 5px;" alt="logo"/>
                     }
                     else
                     {
                       <img id="OrgLogo" src="~/img/org.png" style="width: 80px; padding: 5px;" alt="logo"/>
                     }
                     
                   </div>
                   <a href="#" id="org_Logo_UploadBtn" class="btn btn-sm aqua-gradient">Choose image</a>
                      
                 </div>
               </div>

             </div>
                  
             <hr/>
             <form asp-controller="Organization" asp-action="Step2" method="post" asp-antiforgery="true">
             <div class="col-md-12 ">
               <span>Invite member using email or search</span>
               <select asp-for="SeEmailLists" class="mdb-select md-form md-outline" multiple searchable="Search here.." >
               
                    
                 @foreach (var user in @Model.Users)
                 {
                     <option value="@user.Email" data-icon="@if(user.ProfileImage != null){ @Url.Content("~/upload/")@user.ProfileImage }else{ @Url.Content("~/img/profile-avatar.png")}" class="rounded-circle">@user.Email</option>
                 }
               
               </select>
                <span asp-validation-for="SeEmailLists" class="text-danger" style="font-size: 15px;"></span>
                                                
             </div>
                
                     
             <div class="col-md-12 ">
               <div class="md-form">
                 <button type="submit" class="btn btn-block aqua-gradient">Next</button>
               </div>
             </div>
                </form>
             <div class="col-md-12 ">
               <div class="md-form">
                 <a asp-controller="Organization" asp-action="Index" type="submit" class="btn btn-block btn-default">Skip</a>
               </div>
             </div>
                
             <!-- Grid column -->
             
           </div>
           <!-- Grid row -->
         </div>
       </div>
     </div>
      
   </section>
   
   <partial name="_imgUploadModal"/>
   <!-- Section: Inputs -->
   
   @section Style
   {
      
     <link rel="stylesheet" href="~/css/croppie.css"/>
   }
   
   @section Scripts
   {

     <script src="~/js/croppie.js"></script>

     <script>
       $(function() {
         "use strict";
       
         let baseUrl = '@Url.Content("~/upload/")';
         
       $('#org_Logo_UploadBtn').on('click', function (e){
         e.preventDefault();
         let $modal = $('#imageUploadModal');
         let modalBody = $('#UploadModalBody');
          modalBody.html('<input type="file" name="orgLogo" class="InputImageBtn" id="upload_image" style="display: none;" /><div class="row"><div class="col-md-8"><img src="" id="ShowImage" class="img-fluid" /></div></div>');
          $('.InputImageBtn').trigger('click');
 
          let crop_image = document.getElementById('ShowImage');
          let cropper;
         $('#upload_image').change(function(event){
         let files = event.target.files;
         let done = function(url){
         crop_image.src = url;
         $modal.modal('show');
         };
         if(files && files.length > 0)
         {
         let reader = new FileReader();
         reader.onload = function(event)
         {
         done(reader.result);
         };
         reader.readAsDataURL(files[0]);
         }
         });
         $modal.on('shown.bs.modal', function() {
         cropper = new Cropper(crop_image, {
         aspectRatio: 1,
         viewMode: 3,
         preview:'.preview'
         });
         }).on('hidden.bs.modal', function(){
         cropper.destroy();
         cropper = null;
         });
          
       $('#CropAndUploadBtn').click(function(){
        let canvas = cropper.getCroppedCanvas({
         width:400,
         height:400
          });
        canvas.toBlob(function(blob){
         let url = URL.createObjectURL(blob);
         let reader = new FileReader();
         reader.readAsDataURL(blob);
         reader.onloadend = function(){
         let base64data = reader.result; 
        $.ajax({
              url:'@Url.Action("UploadLogo","Organization")',
              method:'POST',
              data:{'image':base64data , 'LogoId': @Model.Id },
        success:function(data){
                  
                        if (data.success == true){
                          $('#OrgLogo').attr("src",""+baseUrl+data.filePath+"");
                          
                          $modal.modal('hide'); 
                          
                           toastr.success(''+data.msg+'', '', {positionClass: 'md-toast-top-center'});$('#toast-container').attr('class','md-toast-top-center');
                        }
                        
                        }
                        
      
      });
      };
       });
        });
       });
     });
       
     </script>

   }
